@model Genre

@{
    ViewData["Title"] = "Genres";
}

<div class="text-center">
    <form asp-controller="Genre" asp-action="Create" method="POST" enctype="application/x-www-form-urlencoded">
        <input type="hidden" name="Id">
        <input type="text" name="Name">
        <input type="submit" value="Create!">
    </form>
</div>
